<!-- <h1>Welcome To Angular {{title}} from {{location}}</h1>
<hr> -->
<!-- <div>
  <app-boxa labelValue="Location" [data]="location" (onBoxDataChange)="onBoxValueChange($event)"></app-boxa>
</div>
<hr>
<div>
  <app-boxa data="Chennai"></app-boxa>
</div>
<hr>

 <div>
  <app-rt-pcr></app-rt-pcr>
  <app-search></app-search>
</div> -->

<!-- <div>
  <app-customer-form></app-customer-form>
</div> -->

<!-- <div>
  <app-employee-form></app-employee-form>
</div> -->
<div>
  <!-- <app-book-list></app-book-list> -->
  <!-- <app-book-catlog></app-book-catlog> -->
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>
